<nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" class="navbar-brand" routerLink="shared/TestsList" routerLinkActive="active">Services<span class="sr-only">(current)</span></a>
        </li>
       
        <li class="nav-item">
            <a class="nav-link" class="navbar-brand" routerLink="shared/TestsList" routerLinkActive="active">Tests Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" class="navbar-brand" routerLink="shared/Login" routerLinkActive="active">Test Result</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link"routerLink="#" class="navbar-brand" routerLinkActive="active">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"class="navbar-brand" routerLink="#" routerLinkActive="active">About us</a>
          </li>
          <li id="reg" class="nav-item">
            <a class="nav-link" class="navbar-brand" routerLink="shared/PatientRegister" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" class="navbar-brand" routerLink="shared/Login" routerLinkActive="active">Login</a>
          </li>
        
       
       
          
  
          <div class="page_social greylinks">
            <a href="#" class="social-icon soc-facebook"></a>
            <a href="#" class="social-icon soc-twitter"></a>
            <a href="#" class="social-icon soc-youtube"></a>
            <a href="#" class="social-icon soc-google"></a>
        </div>
  
       
      </ul>
      
    </div>
  </nav>
  <!---end of nav-->
