

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<div>
					<!-- <form [formGroup]="form">
					
						<div class="form-group">
							<label>Enter UserName</label>
							<input type="text"  ngModel name="UserName"   class="form-control" formControlName="UserName" required/>
							<div class=" alert alert-danger" *ngIf="UserName.invalid">UserName is required</div>
						</div>
						<div class="form-group">
							<label>Enter User Passward</label>
							<input type=" Passward"  ngModel="UserPassward"  class="form-control" formControlName="User Passward" required minlength="10"/>
							<div class=" alert alert-danger" *ngIf="UserPassward.invalid && UserPassward.touched">User Passward is required</div>
						</div>
						<div class="form-group">
							<label>Confirm User Passward</label>
							<input type="User Passward"  ngModel="Passward"  class="form-control" formControlName=" Confirm User Passward" required/>
							<div class=" alert alert-danger" *ngIf="Passward.invalid && Passward.touched">User Passward is required</div>
						</div>
					
						<div class="form-group">
							<input type="submit" value="login"/>
						</div>
					</form> -->
				</div>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
<div>
	<router-outlet></router-outlet>
</div>