
		<div class="wrapper" style="background-image: url('../../../../assets/images/bg-registration-form-2.jpg');">
			<div class="inner">
				<form action="">
					<h3>Registration Form</h3>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="">ID</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-wrapper">
							<label for="">Name</label>
							<input type="text" class="form-control">
						</div>
          </div>
          <div class="form-group">
          <div class="form-wrapper">
						<label for="">Phone</label>
						<input type="text" class="form-control">
          </div>
          <div class="form-wrapper">
						<label for="">Address</label>
						<input type="text" class="form-control">
          </div>
          </div>
          <div class="form-group">
          <div class="form-wrapper">
						<label for="">Salary</label>
						<input type="text" class="form-control">
					</div>
          <div class="form-wrapper">
						<label for="">Qualifications</label>
						<input type="text" class="form-control">
          </div>
          </div>
          <div class="form-group">
          <div class="form-wrapper">
						<label for="">Work period</label>
						<input type="text" class="form-control">
          </div>
          
					
					<div class="form-wrapper">
						<label for="">Email</label>
						<input type="text" class="form-control">
          </div>
		  </div>
		 
          <label id="list" for="">Job</label>
	
			<select id="menue" class="custom-select" style="width:200px; background-color: DodgerBlue;">
				<option  class="item" selected>Doctor</option>
				<option  value="1">Resiptionist</option>
			  </select>
			 
					<button>Register</button>
		
		 

				</form>
			</div>
		</div>
		


