
		<div class="wrapper" style="background-image: url('../../../../assets/images/bg-registration-form-2.jpg');">
			<div class="inner">
				<form action="">
					<h3>Add test</h3>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="">Test id</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-wrapper">
							<label for="">Test Name</label>
							<input type="text" class="form-control">
						</div>
          </div>
          
          <div class="form-wrapper">
						<label for="">Price</label>
						<input type="text" class="form-control">
          </div>
          <div class="form-wrapper">
						<label for="">Normal value</label>
						<input type="text" class="form-control">
          </div>
         
          <label id="list" for="">Category</label>
	
			<select id="menue" class="custom-select" style="width:200px; background-color: DodgerBlue;">
				<option  class="item" selected>Blood tests</option>
				<option  value="1">Liver function</option>
			  </select>
		  
          
         
					<button>Save changes</button>
				</form>
			</div>
		</div>
		
