<!-- <app-header></app-header> -->
<app-admin-layout></app-admin-layout>
<!-- <app-add-employee></app-add-employee> -->
<!-- <app-login></app-login> -->
<!-- <app-patient-register></app-patient-register> -->
<!-- <app-header></app-header> -->

<router-outlet></router-outlet>

<!-- <app-home></app-home> -->
<!-- <app-tests-list></app-tests-list> -->

<!-- <app-list-employee></app-list-employee>
  <app-dispatcher-layout></app-dispatcher-layout>
  <app-doctor-layout></app-doctor-layout>
 <app-tests-list></app-tests-list>
 <app-list-job></app-list-job>
 <app-list-department></app-list-department>
  <app-doctor-profile></app-doctor-profile>
  <app-add-result></app-add-result>
   <app-add-employee></app-add-employee>
  
 <app-login></app-login>
  <app-list-employee></app-list-employee>

  <app-add-department></app-add-department>
  <app-add-employee></app-add-employee>
  <app-add-test></app-add-test>
  <app-admin-layout></app-admin-layout>
  <app-add-employee></app-add-employee>
  <app-home></app-home>
  
  <app-add-dispature></app-add-dispature>
  <app-add-job></app-add-job>
  
  <app-list-test></app-list-test>

<app-list-patients></app-list-patients>
<app-bill-list></app-bill-list>


<router-outlet></router-outlet>



-->