
<!--------------------------------------------------------------->
<main role="main" class="container">
  
   
  
</main><!-- /.container -->



<!--Carousel-->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>-->
      <img src="../../../assets/images/slide01.jpg" width=100% height="100%"/>
      
      <div class="container">
        <div class="carousel-caption text-left">       
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>-->
      <img src="../../../assets/images/slide02.jpg" width=100% height="100%"/>
      <div class="container">
        <div class="carousel-caption">
         
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>-->
      <img src="../../../assets/images/slide03.jpg" width=100% height="100%"/>
      <div class="container">
        <div class="carousel-caption text-right">
         
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!------->
<!--Different-->


<section id="DiffLab" class="ls section_padding_top_150 section_padding_bottom_120 features">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-4 col-md-8">
              <h2 class="section_header">What Makes Us Different</h2>
              <p class="bold bottommargin_30">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of the moment.</p>
              <hr class="divider_15">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="media img-media-teaser">
                          <div class="media-left media-middle">
                              <img src="../../../assets/images/consultation.png" alt="" />
                          </div>
                          <div class="media-body media-middle">
                              <h4 class="bold text-uppercase margin_0">
                                  <a href="#">Free
                                      <br> Consultation</a>
                              </h4>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="media img-media-teaser">
                          <div class="media-left media-middle">
                              <img src="../../../assets/images/prices.png" alt="" />
                          </div>
                          <div class="media-body media-middle">
                              <h4 class="bold text-uppercase margin_0">
                                  <a href="#">Affordable
                                      <br>Prices</a>
                              </h4>
                          </div>
                      </div>
                  </div>
              </div>
              <hr class="divider_15">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="media img-media-teaser">
                          <div class="media-left media-middle">
                              <img src="../../../assets/images/doctors.png" alt="" />
                          </div>
                          <div class="media-body media-middle">
                              <h4 class="bold text-uppercase margin_0">
                                  <a href="#">Qualified
                                      <br>Doctors</a>
                              </h4>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="media img-media-teaser">
                          <div class="media-left media-middle">
                              <img src="../../../assets/images/staff.png" alt="" />
                          </div>
                          <div class="media-body media-middle">
                              <h4 class="bold text-uppercase margin_0">
                                  <a href="#">Professional
                                      <br>Staff</a>
                              </h4>
                          </div>
                      </div>
                  </div>
              </div>
              <hr class="divider_15">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="media img-media-teaser">
                          <div class="media-left media-middle">
                              <img src="../../../assets/images/opened.png" alt="" />
                          </div>
                          <div class="media-body media-middle">
                              <h4 class="bold text-uppercase margin_0">
                                  <a href="#">24/7
                                      <br>Opened</a>
                              </h4>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="media img-media-teaser">
                          <div class="media-left media-middle">
                              <img src="../../../assets/images/happy.png" alt="" />
                          </div>
                          <div class="media-body media-middle">
                              <h4 class="bold text-uppercase margin_0">
                                  <a href="#">~50000 Happy
                                      <br> Clients</a>
                              </h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Footer-->


<section class="ds ms section_padding_top_150 section_padding_bottom_100 page_services parallax">
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
              <h2 class="section_header highlight3">Our Medical Services</h2>
              <p class="bold grey">
                  Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae
              </p>
          </div>
      </div>
      <div class="row topmargin_50 columns_margin_bottom_60">
          <div class="col-md-4 col-sm-6 text-center">
              <div class="teaser">
                  <img src="../../../assets/images/laboratory.png" alt="">
                  <h4 class="grey">
                      <a href="single-service.html">Laboratory Test</a>
                  </h4>
                  <p>
                      These cases are perfectly simple and easy to distinguish a free hour when our power
                  </p>
              </div>
          </div>
         
         
      </div>
      
  </div>
  <div class="row topmargin_50 columns_margin_bottom_60">
      <div class="col-md-4 col-sm-6 text-center">
          <div class="teaser">
              <img src="../../../assets/images/laboratory.png" alt="">
              <h4 class="grey">
                  <a href="single-service.html">Home Visit</a>
              </h4>
              <p>
                  These cases are perfectly simple and 
              </p>
          </div>
      </div>
      </div>
     
</section>