#bil{height: 100px;}
.container-fluid{
    min-height:100vh;
    margin-top:0px;
    background-size: cover;
width:100%;
align-items: center;   
}

table{width: 70%; margin-left: 250px; margin-top:100px;}

td,th{text-align: center;}
#bt{margin-left:1300px; background-color: #1caa1cbd;margin-top:5px;margin-bottom:2px;}